body{
	
	font-family:arial;
	font-size:15px;
	line-height:1.6em;
	    margin: 0 auto;
}


li{
	list-style:none;
}

a{
	text-decoration:none;
}


header{
	border-bottom:3px solid #f4f4f4;
}

footer{
	text-align:center;
	margin-top:5px;
	border-top:1px solid #949292;
}